In [7]:
import pandas as pd

df = pd.read_csv('/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [8]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [9]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [11]:
# Counting the number of missing values in column 2014
missing_count = df['Y2014'].isnull().sum()

# Calculating the total number of rows in the column
total_count = len(df)

# Calculating the percentage of missing data
missing_percentage = (missing_count / total_count) * 100

print("Total missing values in column 2014:", missing_count)
print("Percentage of missing values in column 2014: {:.2f}%".format(missing_percentage))

Total missing values in column 2014: 1589
Percentage of missing values in column 2014: 2.61%

In [28]:

result1 = df[['Y2017', 'Area']].groupby('Area').sum().sort_values('Y2017').iloc[6]
result1

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

In [17]:

highest_sum_2017 = df[['Y2017', 'Area']].groupby('Area').sum().idxmax()
highest_sum_2017

Y2017    Nigeria
dtype: object

In [20]:
unique_countries = df['Area'].nunique()
unique_countries

49

In [30]:
# Assuming df is the DataFrame containing the relevant data
correlation = df.corr()['Element Code']
correlation

<ipython-input-30-e3d95fde62a8>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = df.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64